@import "~iview/src/styles/index.less";
@import '~@/styles/variables.less';
@import '~@/styles/transition.less';

html,body{
  height: 100%;
}
* {
  padding:0;
  margin: 0
}

#app{
  height: 100% !important;
}
