//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Accent colors
// -------------------------
@primary-color: #40c9c6;
@black:#454545;
@black-1:#2d3a4b;

// login
@primary--login--bg:@black-1;
